<img src="banner_<%= modelName %>.jpg" style="float: left; width: auto; height: 100%;">
<div style="float: left; margin: 5px 20px; color: red; font-weight: bolder;">
    <span><%= bannerTitle %></span>
</div>
<!-- <span style="float: left; font-size: 0.9em; margin-right: 5px;">Micro eNB EMS</span> -->

<!--
<i class="large red home icon"></i>
EUCAST EMS&nbsp&nbsp
<i class="chevron right icon"></i>

<img src="banner.jpg" alt="banner" style="width: 100%; height: 100%;">
<span style="font-size: 1.5em; margin-right: 10px;">EMS</span>
<i class="large red home icon"></i>
 -->
